/*-----banner---*/
p:after {
  content: "";
  display: block;
  clear: both;
}

.banner{
	background-image:url(../images/maare.png);
	xbackground-size:cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content:center;
	xheight: calc(100vh - 50px);
	height:400px;
}

.bcontainer{
	background-color:#e5e2e2;
	padding:6.6%;
}

.ufont{
	font-family:helvetica;
	font-size:1.9vw;
	line-height:60px;
}
img{
	float:left;
	width:500px;
	margin:2%;
;
}
p.fliestext{
	font-family:helvetica;
	font-size:1.2vw;
	margin-left:0%;
	width:90%;

}
.bes-box{
	clear:both;
	background-color:#fe9243;
	padding-left:6.6%;

}
.fl-box:after{
	clear:both;
	content:"";
	display:table;
}

.fl-box{
	width:80%;
}

.fl-box{
	display:flex;
	padding-top:30px;
	justify-content:space-between;
	flex-wrap:wrap;
	align-content: center;
}

.block img{
	background-color: pink;
	width:40%;
	margin:20px;
	font-family:helvetica;
}