body{
	margin:0;
}
#logo-wrapper{
	width:100%;
	background-color:#8e8066;
	background-color:#8e8066;
	height:220px;

}
#blocklogo{
	width:100%;
	height:100px;
	position:absolute;
	background: rgba(255, 255, 255, 0.3);
	z-index:2;
	top:60px;
	
}

.blogo img{
	margin:0px;
	position:relative;
	top:-35px;
	left:10%;
	display:inline-block
}

.blogo h1{
	font-size:6em;
	display:inline-box;
	color:red;
	position:absolute;
	top:-70px;
	left: 30%
}

#nav{
	background-color:black;
	height:100px;
	margin:0;
	padding:0;
	text-align:right;

}

#nav ul{
	margin:0;
	display:inline-block;

}

#nav li{
	float:left;
	font-size:1.5em;
	font-family:verdana;
	margin:30px;

}
#nav a{
	color:white;
}

#banner{
	background-image:url(../images/hotel.png);
	background-color:red;
	background-size:cover;
	height:860px;
	display:inline-box;
	clear:both;
}
.hgrund{
	background-color:#dec197;
}
.hgrund:after{
	clear:both;
	content:"."
	display:table;
}
h2{
	margin:0;
}

.welcome{
	width:40%;
	float:left;
	padding: 5% 10% 0 10%;
}

#sidebar{
	width:40%;
	display:inline-block;
	padding-top:5%;
}

#main{
	clear:both;
}