body{
	margin:0;
}
#logo-wrapper{
	width:100%;
	background-color:#8e8066;
	overflow:auto;
}

.blogo{
	vertical-align: middle; 
}
.blogo img{
	margin:0px;
	position:relative;
	top:-35px;
	display:inline-block;
	float:left;
}

.blogo h1{
	background: rgba(255, 255, 255, 0.3);
	font-size:8vw;
	color:red;
	padding-left: 20%;
}
/* navigation---  */
.nav *{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.nav a{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: black;
	height: 70px;
	font-weight: bold;
	font-family: verdana;
	text-decoration: none;
	text-transform:uppercase;
}

.nav{
	position:sticky;
	top:0;
}
.nav a:hover{
	background: tomato;
	color: #fff;
}

.nav ul{
	list-style: none;
	display: flex;
}

.nav ul li{
	position: relative;
	width: 100%;
	text-align: center;
}
.nav li:hover .dropdown-1 >  li{
	top: 0;
	display: block;
}

.dropdown-1 li{
	display: none;
	position: relative;
}

.dropdown-1 {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.dropdown-1 li:hover .dropdown-2 li {
	display: block;
}

.dropdown-2 li{
	display: none;
}

.dropdown-2 {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 100%;
	width: 200px;
}
.banner{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/hotel.png);
	background-size:cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content:center;
	height: calc(100vh - 50px);
}
.banner h2{
	text-transform: uppercase;
	color: #ffff;
	font-size: 60px;
	font-family: cursive;
}

.buchen img{
	padding-right:0;
}





/* #nav{
	background-color:black;
	height:100px;
	margin:0;
	padding:0;
	text-align:right;

}

#nav ul{
	margin:0;
	display:inline-block;

}

#nav li{
	float:left;
	font-size:1.5em;
	font-family:verdana;
	margin:30px;

}
#nav a{
	color:white;
} */

#banner{
	background-image:url(../images/hotel.png);
	background-color:red;
	background-size:cover;
	height:860px;
	display:inline-box;
	clear:both;
}
.hgrund{
	background-color:#dec197;
}
.hgrund:after{
	clear:both;
	content:"";
	display:table;
}
h2{
	margin:0;
}

.welcome{
	width:40%;
	float:left;
	padding: 5% 10% 0 7%;
}

.wcom{
	font-family:Helvetica;
	font-size:3em;
	color:#83590c
}

.teco{
	font-size:0.9em;
	font-family:helvetica;
}

#sidebar{
	width:40%;
	display:inline-block;
	padding-top:5%;
}
.seite{
	width:80%;
	background-color:#d0cfcc;
	border:dashed 4px #acaba9;
  border-radius: 20px;
	padding:1%;
	padding-right:10%;
}
.bewa{
	font-family:verdana;
	padding-left:20px;
	color:#83590c;
	font-size:2.1vw;
}
ul.liste{
	font-size:1.2em;
	line-height:30px;
	font-family:Helvetica;
}



#main{
	clear:both;
	background-color:#bdbbb9;
}

.fcontainer{
	display:flex;
	padding-top:30px;
	justify-content: center;
	flex-wrap:no-wrap;
	align-content: center;
}
.item{
	background-color: pink;
	width:25%;
	
	margin:20px;
	padding:1%;
	font-family:verdana;
}
h2.uschrift{
	font-size:2.1vw;
	line-height:60px;
}
.item img{
	width:100%;
}

.item:nth-child(2){
	background-color:#f8d696;
	
}

.item:first-child, .item:last-child {
	background-color:#a54c0b;
	color:white;
}

#footer{
	background-color:black;
	padding:30px;
}
.schiff{
	width:35%;
	padding-left:4.5%;
	display:inline-block;
	float:left;
}
.schiff a{
	display:block;
}

.schiff p{
	color:white;
	font-family:verdana;
}

.schiff img{
	width:100%;
}
.pers{
	font-size:35px;
	font-family:helvetica;
	color: white;
	padding-left:50px;
}
.pe{
	float:left;
	padding-left:50px;
	}
.pe li{
	list-style:none;
	font-size:20px;
	color:white;
	font-family:helvetica;
}
.kont{
	font-size:35px;
	font-family:helvetica;
	color: white;
	padding-left:38px;
}

.ko{
	float:left;
	padding-left:50px;
}

.ko li{
	list-style:none;
	font-size:20px;
	color:white;
	font-family:helvetica;
}
.container:after{
	clear:left;
	display:table;
	content:"";
}
	






